<!--<!DOCTYPE html>
<html>
<title>Bank Account Information</title>
<body style="background-color:MediumSpringGreen">

<a href="budget.html"> Your Budget </a> <pre style="display:inline">       </pre>
<a href="bankPage.html"> Bank Statement </a>
<br>
<img src="hero_bar_chart.png" alt="Progress Bar">

<p> Hi Joseph, you're looking great today! </p>

<a href="bankPage.html">Checking Account</a> <pre style="display:inline">       </pre>
<a href="bankPage.html">Savings Account </a>  <pre style="display:inline">     </pre>
<a href="bankPage.html">Transfer Money</a> <pre style="display:inline">     </pre>
<br>
<br>
<img src="bankStatement.png" alt="Progress Bar">

<script src="jquery-2.2.2.js"></script>
<script>

$.ajax({
    url: 'http://api.reimaginebanking.com/atms?key=a7f1ceebc2da3b3d7184e28df18f5d0b',
    success: function(results){
        console.log(results);
        console.log(results.data[1]);
        var apikey = '40eba2d0de86d07544dbdb0abe28db05';
        console.log('bills demo')
		var billAccount = bills.initWithKey(apikey);
		var accID = '55e94a6cf8d8770528e6196d';
		var custID = '55e94a6af8d8770528e60e64';
        var billID = billAccount.getAllByCustomerId(custID)[0]._id;
        consol.log(billAccount.getAllByCustomerId(custID)[0]._id)
    }
});

</script>

</body>
</html>
-->
<!DOCTYPE html>
<html>
<title>Bank Account Information</title>
<link rel= "stylesheet" href="questionnaire.css" type="text/css">
<style>

      body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  background: url("green.jpg") ;

}

@keyframes spinner {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(359deg);
  }
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0);
}
.Finlit {
  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 20px 20px;
  width: 90%;
  max-width: 320px;
  background: #ffffff;
  position: relative;
  padding-bottom: 80px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}
.Finlit.loading button {
  max-height: 100%;
  padding-top: 50px;
}
.Finlit.loading button .spinner {
  opacity: 1;
  top: 10%;
}
.Finlit.ok button {
  background-color: #8bc34a;
}
.Finlit.ok button .spinner {
  border-radius: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  height: 20px;
  animation: none;
  transform: rotateZ(-45deg);
}
.Finlit input {
  display: block;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  transition: border-width 0.2s ease;
  border-radius: 2px;
  color: #ccc;
}
.Finlit input + i.fa {
  color: #fff;
  font-size: 1em;
  position: absolute;
  margin-top: -47px;
  opacity: 0;
  left: 0;
  transition: all 0.1s ease-in;
}
.Finlit input:focus {
  outline: none;
  color: #444;
  border-color: #2196F3;
  border-left-width: 35px;
}
.Finlit input:focus + i.fa {
  opacity: 1;
  left: 30px;
  transition: all 0.25s ease-out;
}
.Finlit a {
  font-size: 0.8em;
  color: #2196F3;
  text-decoration: none;
  }
.Finlit .title {
  color: #444;
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0 30px 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}
.Finlit button {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  background: #2196F3;
  color: #fff;
  display: block;
  border: none;
  margin-top: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 60px;
  border: 0px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 2px 2px;
   transform: rotateZ(0deg);
  transition: all 0.1s ease-out;
  border-bottom-width: 7px;
}
.Finlit button .spinner {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  border: 4px solid #ffffff;
  border-top-color: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  left: 50%;
  top: 0;
  opacity: 0;
  margin-left: -20px;
  margin-top: -20px;
  animation: spinner 0.6s infinite linear;
  transition: top 0.3s 0.3s ease, opacity 0.3s 0.3s ease, border-radius 0.3s ease;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
.Finlit:not(.loading) button:hover {
  box-shadow: 0px 1px 3px #2196F3;
}
.Finlit:not(.loading) button:focus {
  border-bottom-width: 4px;
}

    </style>
<br>

<a href="budget.html"> Your Budget </a> <pre style="display:inline">       </pre>
<a href="bankPage.html"> Bank Statement </a>
<br>
<br>
<img src="hero_bar_chart.png" alt="Progress Bar">

<p> Hi Joseph, you're looking great today! </p>

<a href="bankPage.html">Checking Account</a> <pre style="display:inline">       </pre>
<a href="bankPage.html">Savings Account </a>  <pre style="display:inline">     </pre>
<a href="bankPage.html">Transfer Money</a> <pre style="display:inline">     </pre>
<br>
<br>
<img src="bankStatement.png" alt="Progress Bar">

<script src="jquery-2.2.2.js"></script>
<script>

$.ajax({
    url: 'http://api.reimaginebanking.com/atms?key=a7f1ceebc2da3b3d7184e28df18f5d0b',
    success: function(results){
        console.log(results);
        console.log(results.data[1]);
        var apikey = '40eba2d0de86d07544dbdb0abe28db05';
        console.log('bills demo')
		var billAccount = bills.initWithKey(apikey);
		var accID = '55e94a6cf8d8770528e6196d';
		var custID = '55e94a6af8d8770528e60e64';
        var billID = billAccount.getAllByCustomerId(custID)[0]._id;
        consol.log(billAccount.getAllByCustomerId(custID)[0]._id)
    }
});

</script>

</body>
</html>
