<!DOCTYPE html>
<html>
<title>Sign Up</title>
<h1>FinLit | Login</h1>
<body style="background-color:MediumSpringGreen">

<form id="input" action ="login.html" method="get">
	Username:	<input type="text" id="first" value="Joe" required> <br>
	Password: <input type="text" id="last" value="Smith" required> <br>
</form>


</body>
</html>
