<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"
  xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title></title>
<style rel="stylesheet" type="text/css">
#header {
  width: 892px;
  height: 268px;
  background-image: url(images/header_bg.jpg);
  background-position: top left;
  background-repeat: no-repeat
}

#menu {
  float: left;
  margin: 63px 0 0 25px;
}

#menu li {
  display: inline;
  list-style-type: none;
  line-height: 35px;
}

#menu li a {
    background-color: green;
  background-position: top left;
  background-repeat: no-repeat;
  height: 35px;
  display: block;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: red;
  text-decoration: none;
  text-align: center
}

</style>
</head>
<body>
    <ul id="menu">
      <li><a href="index.html" class="but1_active">Home page</a></li>
      <li><a href="index2.html" class="but2">Articles</a></li>
      <li><a href="index2.html" class="but3">Latest Websites</a></li>
      <li><a href="index2.html" class="but4">Submit</a></li>
      <li><a href="index2.html" class="but5">Contacts</a></li>
    </ul>

</body>

</html>
